.one-div {
  position: relative;
  height: 50px;
  width: 200px;
  background-color: black;
  transform-style: preserve-3d;
  animation: rot 3s infinite ease;
  border-radius: 20px;
  box-shadow: 0 0 30px 0px, inset 0 0 60px 0px;
  transition: 1s;
  justify-content: center;
  align-items: center;
  margin: 100px 80px 70px;
  flex: 1;
}

.one-div .text {
  opacity: 10;
  transition: all 1s;
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
}

#modelselect {
  width: 50%;
  align-items: center;
  margin: 0px 0px 0px 305px;
}
#select {
  width: 150px;
  font-size: 15px;
  text-align: center;
  height: 23px;
  background-color: rgb(212, 212, 212);
  color: white;
  border-width: 2px;
  border-color: black;
  background-color: rgba(0, 0, 0, 0.89);
}
#label {
  width: 51%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 5px 0px 10px;
}

#buttons {
  display: flex;
  gap: 20px;
  width: 50%;
  justify-content: flex-start;
}

.one-div:hover.one-div .text {
  scale: 1.2;
  opacity: 0.7;
}

.one-div:hover {
  box-shadow: 0 0 50px 0px, inset 5px 5px 20px 0px black;
}

@keyframes rot {
  0% {
    transform: rotateX(-15deg) translateY(0px);
  }

  50% {
    transform: rotateX(-15deg) translateY(-10px);
  }

  100% {
    transform: rotateX(-15deg) translateY(0px);
  }
}
button {
  color: white;
  background-color: black;
  border: none;
  font-size: 15px;
}
#pic {
  margin-left: 235px;
  margin-top: 10px;
}
#credit {
  opacity: 75%;
  margin-top: 40px;
  margin-right: 750px;
  text-align: center;
}








.container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: relative;
  color: white;
}

.container .label {
  font-size: 15px;
  padding-left: 10px;
  position: absolute;
  top: 13px;
  transition: 0.3s;
  pointer-events: none;
}

.input {
  width: 200px;
  height: 45px;
  border: none;
  outline: none;
  padding: 0px 7px;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  background-color: transparent;
  box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input:focus {
  border: 2px solid transparent;
  color: #fff;
  box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4),
  inset 3px 3px 10px rgba(0,0,0,1),
  inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.container .input:valid ~ .label,
.container .input:focus ~ .label {
  transition: 0.3s;
  padding-left: 2px;
  transform: translateY(-35px);
}

.container .input:valid,
.container .input:focus {
  box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4),
  inset 3px 3px 10px rgba(0,0,0,1),
  inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}